body
{
	margin:auto;
    text-align:center;


}
.header
{
	width:auto;
	height:100px;
	background-color: blue;

}
.page
{
	width:998px;
	height:500px;

}
.footer
{
	width:auto;
	height:100px;
}
.form
{
	float:left;
	margin-left:20px;
	width:300px;
	height:400px;
	margin-top:50px;

}